{% extends "base.html" %}

{% block title %}Projects - Data Engineer Portfolio{% endblock %}

{% block content %}
<h1>My Projects</h1>
<p class="lead">Here are some of the key data engineering projects I've worked on:</p>

<div class="row">
    {% for project in projects %}
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                
                <h6>Technologies Used:</h6>
                <div class="mb-3">
                    {% for tech in project.technologies %}
                    <span class="badge bg-secondary me-1">{{ tech }}</span>
                    {% endfor %}
                </div>
                
                <a href="{{ project.github_link }}" class="btn btn-primary" target="_blank">
                    View on GitHub
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mt-5">
    <h3>Want to see more?</h3>
    <p>Check out my <a href="https://github.com/yourusername" target="_blank">GitHub profile</a> for additional projects and contributions.</p>
</div>
{% endblock %}